@charset "UTF-8";
@font-face {
  font-family: "SF UI Display";
  src: url("../fonts/SFUIDisplay-Regular.eot");
  src: local("☺"), url("../fonts/SFUIDisplay-Regular.woff") format("woff"), url("../fonts/SFUIDisplay-Regular.ttf") format("truetype"), url("../fonts/SFUIDisplay-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0 auto;
  font-size: 100%;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 403px;
  background: black;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  width: 76.5104166667%;
  height: 29px;
  background: none;
  align-items: center;
}

.header__navigation-left-logo {
  font-size: 24px;
  font-family: SF UI Display;
  color: white;
  line-height: 29px;
  display: flex;
  justify-content: space-between;
  width: 186px;
  height: 29px;
  background: none;
  align-items: center;
}

.header-navigation-left-logo-img {
  margin-right: 24px;
}

.header__navigation-right {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 26px;
  background: none;
  align-items: center;
}

.navigation__link {
  font-size: 18px;
  font-family: SF UI Display;
  color: white;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.header__navigation-right-widget-img {
  margin-right: 10px;
}

.header__search-border {
  display: flex;
  justify-content: space-between;
  width: 62.5vw;
  height: 100px;
  align-items: center;
  flex-direction: column;
}

.header__search-border-search-input {
  outline: none;
  border: none;
  text-align: center;
  background: transparent;
  width: 100%;
  height: 86px;
  font-size: 72px;
  font-family: SF UI Display;
  line-height: 86px;
  color: white;
}

.header__search-border-search-input::placeholder {
  outline: none;
  border: none;
  text-align: center;
  background: transparent;
  width: 100%;
  height: 86px;
  font-size: 72px;
  font-family: SF UI Display;
  line-height: 86px;
  color: white;
}

.header__search-border-bottom-line {
  width: 62.5vw;
  height: 1px;
  background: linear-gradient(to right, black 0%, white 50%, black 100%);
}

.header__categories {
  display: flex;
  justify-content: space-between;
  width: 75vw;
  height: 21px;
  background: linear-gradient(to right, white 50%, black 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__categories-button {
  font-size: 18px;
  color: white;
  font-family: SF UI Display;
  background: transparent;
  width: auto;
  height: auto;
  line-height: 21px;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 450vh;
  background: none;
}

.gallery__photoes-container {
  display: flex;
  justify-content: space-between;
  width: 85vw;
  height: 400vh;
  background: none;
}

.gallery__photoes-container-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 27vw;
  height: 100%;
  background: none;
  justify-content: space-between;
}

.gallery__photoes-container-column-item {
  width: 100%;
  height: auto;
  border-radius: 8px;
  position: relative;
}

.gallery__photoes-container-column-item-img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  transition: 500ms;
  z-index: -1;
}

.gallery__photoes-container-column-item:hover .gallery__photoes-container-column-item-img {
  filter: blur(20px);
}

.gallery__photoes-container-column-item:hover .gallery__photoes-container-column-item-background {
  opacity: 1;
}

.gallery__photoes-container-column-item-mobile:hover .gallery__photoes-container-column-item-background {
  opacity: 1;
}

.gallery__photoes-container-column-item-mobile:hover .gallery__photoes-container-column-item-img {
  filter: blur(20px);
}

.gallery__photoes-container-column-item-mobile {
  width: 100%;
  height: auto;
  border-radius: 8px;
  position: relative;
  transition: 500ms;
  display: none;
}

.gallery__photoes-container-column-item-background {
  border-radius: 8px;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 98%;
  opacity: 0;
  background: rgba(40, 36, 22, 0.5);
  transition: 500ms;
}

.gallery__switch-buttons {
  display: flex;
  justify-content: space-between;
  width: 66px;
  height: 27px;
  background: none;
}

.gallery__switch-buttons-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 23px;
  height: 100%;
  background: none;
}

.gallery__switch-buttons-btn-item {
  width: 100%;
  height: 10px;
  background: #BDBDBD;
  transition: 500ms;
}

.gallery__switch-buttons-btn:hover .gallery__switch-buttons-btn-item {
  background: black;
}

.gallery__switch-buttons-btn-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10px;
  background: none;
}

.gallery__switch-buttons-btn-row-item {
  width: 10px;
  height: 100%;
  background: black;
  transition: 500ms;
}

/*# sourceMappingURL=style.css.map */
